<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="./css/styles.css" rel="stylesheet" />
    <title>Login Mercado Liebre</title>
  </head>
  <body>
    <header>
      <div class="logo-search">
        <div class="logo">
          <img
            src="./images/logo-mercado-liebre.svg"
            alt="Logo Mercado Liebre"
          />
        </div>
        <div class="search">
          <form action="#">
            <input
              type="text"
              placeholder="Buscar productos, marcas"
              name="search"
            />
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
        <p>
          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjeta de crédito
        </p>
      </div>

      <nav class="nav-bar">
        <ul class="left-bar">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="right-bar">
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="fa-regular fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href=""
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <a href="/"
      ><img src="./images/img-home-banner.jpg" alt="Home Banner" width="100%"
    /></a>
    <main class="main-register">
      <div class="login-box">
        <form class="register-form" action="/ " method="get">
          <div class="requirement">
            <input
              class="register-input"
              type="text"
              name="user"
              id="user"
              placeholder="Nombre de usuario"
            />
          </div>

          <div class="requirement">
            <input
              class="register-input"
              type="password"
              name="password"
              id="password"
              placeholder="Ingrese su contraseña"
            />
          </div>
          <div class="buttons">
            <button class="button" type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <section>
        <p class="footer-icon"><i class="fa-solid fa-credit-card"></i></p>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <p class="footer-icon"><i class="fa-solid fa-gift"></i></p>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <p class="footer-icon">
          <i class="fa-sharp fa-solid fa-user-shield"></i>
        </p>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
