*{
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #ebebeb;
}
/*------------------------------ HEADER ------------------------------*/
header{
    background-color: #EAC926;
}
.logo{
    width: 40%;
    padding: 20px 0px;
    margin-left: 20px;
}
.search{
    align-self: center;
}
.search input[type=text]{
    width:75%;
    height:25px;
    border-radius:5px;
    border: solid 1px #666;
    background-color: white;
    margin-left: 10px;
}
.search button{
    position:absolute;
    background-color: white;
    color: #666;
    border-radius: 5px;
    padding: 4px 6px;
    font-size: 12px;
    border: solid 1px #666;
    cursor: pointer;
}
.logo-search{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
header p{
    font-size: 12px;
    text-decoration: none;
    color: #03264C;
    text-align: center;
}
.nav-bar{
    display:none;
}
.left-bar{
    font-size: 12px;
    list-style-type: none;
    padding: 0px;
}
.right-bar{
    font-size: 12px;
    list-style-type: none;
    padding: 0px;

}
a{
    text-decoration: none;
    color: #03264C;
}
.burger-menu{
    margin: auto;
    background-color: #1259c3;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 19px;

    width: 10%;
}
/*------------------------------ HEADER ------------------------------*/

/*------------------------------ MAIN ------------------------------*/
main{
    width: 90%;
    margin-left: 4.5%;
}
article{
    background-color: white;
    margin-bottom: 10px;
}
.article-info{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
}
article img{
    width: 100%;
}
.truck-icon{
    padding: 10px;
    color: #39b54a;
    border-radius: 50%;
    border: solid 1px #39b54a;
    position: absolute;
    right: 20px;
    top:-20px;
}
.price-discount{
    display: flex;
    margin-top:5px;
}
.price{
    width: 60%;
    font-size: 18px;
    margin:0px;
}
.discount{
    color: #39b54a;
    width: 40%;
    margin:0px;
}
.description{
    display:none;
}
h2{
    color:#666;
}
h3{
    font-size: 16px;
}
/*------------------------------ MAIN ------------------------------*/

/*------------------------------ FOOTER ---------------------------------*/
footer{
    text-align: center;
    background-color: white;
}
footer p{
    margin-top: 5px;
}
footer h4{
    margin: 0px;
}
.footer-icon{
    color:#1259c3;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}
footer section{
    border-top: solid 1px #ebebeb;
}
/* ------------------------------FOOTER-------------------------------- */

@media (min-width:371px) {
    .logo-search{
        width:100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .logo{
        width:30.5%;
    }
    .search{
        width: 33%;
    }
    header p{
        width: 30%;
        align-self: center;
    }
    .burger-menu{
        display:none;
    }
    .nav-bar{
        display:flex;
        justify-content: space-between;
        width: 100%
    }
    .left-bar{
        margin-right: 0px;
        margin-left:10px;
        display:flex;
        width: 45%;
        justify-content: space-around;
    }
    .right-bar{
        float: right;
        margin-right:10px;
        display:flex;
        width:35%;
        justify-content: space-around;
    }
    .last-view{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .offers{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 48%;
    }
}
@media (min-width:769px){
    article{
        width: 23%;
    }
    .last-view{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .offers{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
/*------------------------------ REGISTER ------------------------------*/
.main-register{
    background-color: white;
    padding:1px 10px 10px 10px;
    width:70%;
    margin:auto;
    border-top:solid 2px #ebebeb;
}
.register-form{
    background-color:#ebebeb ;
}
.requirement{
    display:flex;
    flex-direction: column;
    margin: 10px 0px;
    color: #03264C;
    padding:10px;
    border-radius: 5px;
    border-color: white;
}
.register-input{
    height: 29px;
    border-radius: 5px;
    border:solid 1px #ebebeb;
    background-color: white;
    padding-left: 10px;
}
label{
    font-size: 18px;
    margin-bottom:2px;
    color: black;
}
.register-category{
    margin-bottom:30px;
}
.buttons{
    display:flex;
    justify-content: center;
}
.button{
    width:30%;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color:white;
    border: solid 1px #1259c3;
    background-color: #1259c3;
}
/*------------------------------ REGISTER ------------------------------*/

/*------------------------------ LOGIN ------------------------------*/



/*------------------------------ LOGIN ------------------------------*/